{% extends 'base.html.twig' %}

{% block title %}Editar Emprestimo{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header" id="top">
                <h2 class="pageheader-title">Editar Emprestimo</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    {{ include('emprestimo/_form.html.twig') }}
                    <a class="card-link" href="{{ path('emprestimo_index') }}">voltar para a listagem</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
