{% extends 'base.html.twig' %}

{% block title %}Edit Livro{% endblock %}

{% block content %}
    <h1>Edit Livro</h1>

    {{ include('livro/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('livro_index') }}">back to list</a>

    {{ include('livro/_delete_form.html.twig') }}
{% endblock %}
