{% extends 'base.html.twig' %}

{% block title %}New Livro{% endblock %}

{% block content %}
    <h1>Create new Livro</h1>

    {{ include('livro/_form.html.twig') }}

    <a href="{{ path('livro_index') }}">back to list</a>
{% endblock %}
